

body {
	background: #fafafa;
	font-family:'Avenir Next';
	color: #696969;
}

.emphasis {
	font-family:'Avenir Next';
	font-weight: 400;
}

h1 {
	font-family: "hill-house";
}

#about p {
	font-size: 16px;
	line-height: 24px;
/*	margin-bottom: 0;*/
}

#about p + p {
    text-indent: 2em;
    margin-top: 0;
}

#main-search-field {
	margin-top: 15px;
	margin-bottom: 10px;
}

.main-content {
 margin:0 auto;
 float:none;
}

#kinetic {
	padding: 0;
}

.results p {
	font-size: 18px;
}

.lower {
	background-color: #fff;
	border-radius: 6px;
	padding: 60px;
}

ul {
	padding-left: 0px;
}


.blog-link {
	color: #696969;
}

.currentlink {
	color: #6c6c6c;
}


#navigation a:link {
	color: #939393;
	text-decoration: none;
}


#navigation a:visited {
	color: #939393;;
	text-decoration: none;
}

#navigation a:hover {
	color: #6c6c6c;
}

.current-true a {
	color: #6c6c6c;
}

.horizontal-list li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-size: 19px;
	line-height: 30px;
}

#rain-jacket {
	height: 200px;
	overflow:scroll;
}