

body {
	/*background: #fafafa;*/
	background-image:url('/ui/wampumfrontend/app/images/fishingweir8bw.jpeg');
	font-family:'Avenir Next W01 Light';
	color: #696969;
}

.emphasis {
	font-family:'Avenir Next W01 Light';
}

h2 {
	font-family:'Avenir Next W01 Thin';
	font-style: normal;
	font-weight: 200;
	color: #696969;
}

#main-search-field {
	margin-top: 15px;
	margin-bottom: 10px;
}

.main-content {
 margin:0 auto;
 float:none;
}

.results p {
	font-size: 18px;
}

.lower {
	background-color: #fff;
	border-radius: 6px;
	padding: 60px;
}

ul {
	padding-left: 0px;
}

.currentlink {
	color: #6c6c6c;
}


#navigation a:link {
	color: #939393;
	text-decoration: none;
}


#navigation a:visited {
	color: #939393;;
	text-decoration: none;
}

#navigation a:hover {
	color: #6c6c6c;
}

.current-true a {
	color: #6c6c6c;
}


.horizontal-list li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-size: 19px;
	line-height: 30px;
}