<!-- use rule of thumb from 37signals article -->
<style>
p {
	line-height: 22px;
}
</style>
<div class="container lower">
	<div class="col-sm-6">
		<h3>What is Wampum?</h3>
		<p>Wampum is a reccomendation engine for stuff you don't need anymore. If you hate the idea of your old clothes and household items going to waste, it might just be the helper for you.</p> 

		<p>More specifically, Wampum is a place where you enter the name of an item, and our engine retrieves a list of possible uses for that item, as well as places you can go to drop it off.
		</p>

		<h3>How does it work?</h3>
		<p>We aggregate data from various locations around the web, such as lists of clothing dropoffs, or non-profits that are looking for specific materials. We then break your search item down into a list of its constituent materials, and search for organizations that are currently in need of those raw inputs.</p>

		<p> These form the basis for our top suggestions. If you're interested in the gritty details, check out the evolution of our reccomendation engine by following the blog posts.</p>

	</div>
	<div class="col-sm-6">
		<h3>How can I get involved?</h3>
		<p>If you've read this far, than first of all thank you for checking us out! Wampum is run by Rob Culliton, who is currently based in the Boston area, although participation is welcome from anywhere.</p>

		<ul>
			<li>If you're an organization with a creative application for reusing old materials, email rob@wampum.io about being incorporated into our search results.</li>
			<li>If you're a hacker who's interested in working on improving our process, send a pull request to our <a href="https://github.com/wampum">github</a>, or email rob@wampum.io</li>
			<li>If you just want to chat, email rob@wampum.io, or lets meet up at a cafe in Cambridge, MA.</li>
		</ul>
	</div>
</div>