<div class="container lower">

<span class="row">

<h3>The Winter Olympics 2/23/14</h3>


<p>I've done quite a few passes now at the home page of Wampum(although it may not look it). I haven't been completely satisfied with any of them, and I think I am finally starting to understand why.</p>

<p>For me, this project has been all about moving forward, using new technologies, using lessons learned from Weekend Swap, and providing some tangible evidence of progress. Yet despite all of these aims, every design has been devoid of one thing... motion.</p>

<p>I'm not sure exactly why this is. I've always liked books, and naturally, books on design. Most of these stress fundamentals: spacing, color, etc... but obviously all of them are contrainted by the printed page, and the classically trained people who write them tend to write off animation as distracting. </p>

<p>It is currently February 2014, and we are blessed with one of the greatest examples of motion there is, the Winter Olympics! There is a great collection of data visualizations and short films on the games, presented by the  <a href="http://www.nytimes.com/newsgraphics/2014/sochi-olympics/giant-slalom.html">New York Times</a>. I'm drawn to this series because you come away from the individual pieces with a feeling of both having witnessed a science experiment, and also having read a short story.</p>

<p>Having the ability to maniuplate time within one's animation affords a clean way of conveying ideas which can be jumbled just using words or static images alone. Whether it is the severe edge angle created by a ski that would be impossible at slower speeds, or the whimsical journey of a consumer product finding a second use, there is something about viewing a world in motion that is particulary arresting.</p>


 <div disqus="id"></div>
</div>