<style>
p {
	line-height: 22px;
}
</style>

<div class="container lower">
  <span class="row">
    <span class="col-sm-3">
      <h4 style="text-transform:underline;">Archive</h4>
    		<div ng-repeat="blog in blogs">
          <p><a class="blog-link" href="/blog/{{ blog.written }}">{{ blog.title }}</a></p>
        </div>
    </span>
    <span ng-bind-html="blog" class="col-sm-9">
    </span>
    <div class="col-sm-9 col-sm-offset-3">
      <div disqus="disqus_thread"></div>
    </div>
  </span>
</div>


