The Winter Olympics, Motion, and Time, Design


Refactoring and Animated Content

I've done quite a few passes now at the home page of Wampum(although it may not look it). I haven't been completely satisfied with any of them, and I think I am finally starting to understand why.

For me, this project has been all about moving forward, using new technologies, using lessons learned from the last startup, providing some tangible evidence of progress. Yet despite all the symbolism of forward motion, every design, and in fact web page I have created to date is devoid of one thing... motion. 

I'm not sure exactly why this is. I've always liked books, and naturally, books on design. Most of these stress fundamentals: spacing, color, etc... but obviously all of them are contrainted by the printed page, and the classically trained people who write them tend to write off animation as merely a distracting blinking light taking away the viewer's attention from the important material. 

But as anyone who is reading this is aware, this is February 2014, and we are blessed with one of the greatest examples of motion there is, the Winter Olympics! A combination of a view things I love all came together when I came across Mike Bostock and the NYT's piece on vizualizing some aspects of the games, making heavy use of D3, a data visualization library popular among us Javascripters. 

What drew me to the visualizations was not just that they depicted snowsports, but that the animated viz portrayed content that could NEVER actually be captured by a standard 2D static viz because it was lacking a few dimensions that were critical to the underlying story. Granted some nifty static techniques can portray time in some interesting ways (link to the ski racing finish), but I think if you are working in a medium that can readily incorporate changes over time, such as the web, it makes sense to take advantage of it rather than taking a reductionist approach.

Redisgning the logo to be a series of concentric, pink/orange spheres in keeping with the vibrant colors of the images that wampumis able to collect.