<style>
p {
	line-height: 22px;
}
</style>

<div class="container lower">
  <span class="row">
    <span class="col-sm-3">
      <h4 style="text-transform:underline;">Archive</h4>
    		<div ng-repeat="blog in blogs">
          <p><a class="blog-link" href="#" ng-click="showTitle(blog.written)">{{ blog.title }}</a></p>
          <!-- <p style="padding:0">{{ blog.date }}</p> -->
        </div>
    </span>
    <span ng-bind-html="blog" class="col-sm-9">
    </span>
    <div disqus="id"></div>
  </span>
</div>


