<select ng-model="brands" class="form-control">
  <option value="amazon">Amazon</option>
  <option value="americaneagle">American Eagle</option>
  <option value="bananarepublic">Banana Republic</option>
  <option value="brooksbrothers">Brooks Brothers</option>
  <option value="thegap">The Gap</option>
  <option value="jcrew">J. Crew</option>
  <option value="kmart">K Mart</option>
  <option value="kohls">Kohls</option>
  <option value="ralphlauren">Ralph Lauren</option>
  <option value="target">Target</option>
  <option value="walmart">Walmart</option>
</select>       