<superman>
  <p>We have <b>{{ result_length }}</b> locations that accept {{ clothingtype }}.</p>
  <p>Awesome! So you're going to be giving away your {{ clothingtype }} and in exchange we'll send you a gift card from {{ brand }}. But first, you get to choose where Wampum upcycles your old clothing.

  <table style="margin-top: 30px;" class="table">
    <tr>
      <td>{{ entry.name }}</td>
      <td>{{ entry.description }}</td>
      <td ng-show="result_length > 1"><button ng-click="clothingSearch()" class="btn btn-info">Shuffle</button></td>
      <td></td>

      <td>
      <div class="form-group">
        <a href="/shipping/{{clothingtype}}/{{brand}}/{{entry.id}}">
        <button class="btn btn-primary">Continue</button>
        </a>
      </div>    
      </td>
    </tr>
  </table>
</superman>