<superman>
  <span style="text-align:center;">



    <p>We have <b>{{ result_length }}</b><ng-pluralize count="result_length"
    when="{'one': ' location that accepts ',
        'other': ' locations that accept '}">
    </ng-pluralize>{{ clothingtype }}.</p>



    <p>Awesome! So you're going to be giving away your {{ clothingtype }} and in exchange we'll send you a gift card from {{ brand }}. But first, you get to choose where Wampum upcycles your old clothing.
    </p>
  </span>

  <table style="margin-top: 30px;" class="table">
    <tr ng-repeat="entry in entries">
      <td>{{ entry.name }}</td>
      <td>{{ entry.description }}</td>
      <td>
      <div class="form-group">
        <a href="/shipping/{{clothingtype}}/{{brand}}/{{entry.id}}">
        <button class="btn btn-primary">Continue</button>
        </a>
      </div>    
      </td>
    </tr>
  </table>
</superman>