<div class="jumbotron" style="background-color:#fff; padding-top:25px;">

  <div class="container">

    <div class="normallink" class="row" style="margin-bottom:30px; text-align:center;">
        <a href="/"><h1 style="cursor:pointer;" ng-click="home()">Oyster Pail</h1>
        <p>Recycling To Go.</p></a>
        <a href="/">
          <img id="logo" style="cursor:pointer;" ng-click="home()" src="https://s3.amazonaws.com/wampumimages/fold-pak-08whpagodm-1-cup-chinese-asian-take-out-container-wire-handle-pagoda-100-pack.jpg" height="200">
        </a>      
    </div>

    <div ng-transclude>
    </div>

  </div>
</div>