<superman>
  <p style="text-align:center;">Click on an item to display the locations that will accept it.</p>
  <div class="row">
    <div class="col-sm-4">
      <span ng-repeat="tag in firsttags">
        <h3>{{ tag.letter | uppercase }}</h3>
        <p><span ng-repeat="individual in tag.entries"><a href="/?search={{ individual }}">{{ individual }}</a>, </span></p>
      </span>
    </div>
    <div class="col-sm-4">
      <span ng-repeat="tag in secondtags">
        <h3>{{ tag.letter | uppercase }}</h3>
        <p><span ng-repeat="individual in tag.entries"><a href="/?search={{ individual }}">{{ individual }}</a>, </span></p>
      </span>
    </div>
    <div class="col-sm-4">
      <span ng-repeat="tag in thirdtags">
        <h3>{{ tag.letter | uppercase }}</h3>
        <p><span ng-repeat="individual in tag.entries"><a href="/?search={{ individual }}">{{ individual }}</a>, </span></p>
      </span>
    </div>
  </div>
</superman>

