<div class="jumbotron" style="background-color:#fff; padding-top:25px;">
  <div class="container">
    <div class="row" style="margin-bottom:30px; text-align:center;">
        <h1 style="cursor:pointer;">Wampum</h1>
    </div>

    <div class="row">
      <ul id="navigation" class="horizontal-list" style="text-align:center;">
        <li><a href="/">About</a></li>
        <li><a  href="https://medium.com/@wampum" target="_blank">Blog</a></li>
      </ul>
    </div>

    <div style="margin-top:20px;" class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h3>{{ form_name }}</h3>
        <form>
          Email:
          <input class="form-control" ng-model="email" type="text"/>
          Password:
          <input class="form-control" ng-model="password" type="password"/>
          <button ng-click="register(email, password)" class="btn btn-success">{{ form_name }}</button>
        </form>
        <br>
        <p>{{ alternate }}</p>
        <p>
          <button class="btn btn-primary">{{ alternate_button }}</button>
        </p>
      </div>
    </div>

  </div>
</div>




