<div class="jumbotron">
  <div class="container">
    <h1><img src="/ui/wampumfrontend/app/images/wampumlogo7.png" width="153" height="80">Wampum</h1>
    <p>"What should you do with your old stuff?</p>
    <p>Wampum will fish the answer out for you. Just let us know what you've got.</p>
    <div id="main-search-field" class="col-sm-offset-2 col-sm-8">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">GO</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>

<div id="navigationhorizontal">
  <ul class="horizontal-list">
    <li>about</li>
    <li>how it works</li>
    <li>mailing list</li>
    <li ng-click="show_blog()">blog</li>
  </ul>
</div>


<div ng-if="blog" class="container lower">
This is the wampum blog right here.
</div>

