<div class="jumbotron" style="background-color:#fff; padding-top:25px;">
  <div class="container">
    <div class="row" style="margin-bottom:30px; text-align:center;">
        <h1 style="cursor:pointer;" ng-click="home()">Wampum</h1>
        <img style="cursor:pointer;" ng-click="home()" src="https://s3.amazonaws.com/wampumimages/appstore_1024.png" widht="150" height="150">      
    </div>

    <div ng-show="initialform">
      <p style="text-align:center;">Trade in your old clothes for gift cards at the stores you bought them from.</p>
      <form style="text-align:center; margin-top:20px; margin-bottom:60px;" class="form-inline" role="form">
        <div class="form-group">
          <clothingtypes></clothingtypes>
        </div>
        <div class="form-group">
          <brands></brands>
        </div>
        <div class="form-group">
          <button ng-click="begin(clothingtypes, brands)" class="btn btn-primary">Go</button>
        </div>    
      </form>
    </div>

    <div style="text-align:center;" ng-show="secondform">
      <p>We'll mail you the shipping supplies free of charge. After you send your clothing to Wampum to be upcycled we'll mail your gift card.</p>
      <form style="margin-top:30px;"  role="form">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="address_line_1" placeholder="adress line 1"/>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="address_line_2" placeholder="adress line 2"/>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="city" placeholder="city"/>
        </div> 
        <div class="form-group col-xs-6">
          <statedropdown></statedropdown>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="zip" placeholder="zip"/>
        </div>  
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="email" placeholder="email"/>
        </div>                          
        <button ng-click="submitShippingInfo(clothingtypes, brands, address_line_1, address_line_2, city, state, zip, email)" class="btn btn-primary">Submit</button>
        <p style="color: red;">{{ error_message }}</p>
      </form>
    </div>

    <div ng-show="submitted">
      <p>Thanks for upcycling with Wampum! Your shipping supplies are on their way, and your gift card will be shortly after that.</p>
    </div>

  </div>

  <div class="row">
    <ul id="navigation" class="horizontal-list" style="text-align:center;">
      <li><a  href="https://medium.com/@wampum" target="_blank">Blog</a></li>
      <li><a ng-click="originofWampum()" href="#">Origins</a></li>
      <li><a ng-click="contact()" href="#">Contact</a></li>
    </ul>
  </div>


</div>

