<div class="jumbotron" style="background-color:#fff; padding-top:25px;">
  <div class="container">
    <div class="row" style="margin-bottom:30px; text-align:center;">
        <h1 style="cursor:pointer;" ng-click="showAbout()">Wampum</h1>
    </div>

    <div class="row">
      <div id="main-search-field" class="col-sm-8 col-sm-offset-2">
        <h2 class="emphasis">Suggestions for your old stuff.</h2>
        <form class="form-horizontal">
          <div id="scrollable-dropdown-menu" class="input-group">
            <input id="searchinput" style="margin-top: 5px;" ng-enter="search()" type="text" ng-model="term" placeholder="jeans, shoes, etc..." class="typeahead form-control input-lg">
            <span class="input-group-btn">
              <a style="margin-top: 5px;" ng-click="search()" style="font-family:'Avenir Next';" href="#" class="button button-border-primary button-rounded button-large">Go</a>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div ng-show="motion" class="col-sm-8 col-sm-offset-2" id="kinetic"></div>
    </div>

    <div class="row">
      <ul id="navigation" class="horizontal-list" style="text-align:center;">
        <li ng-class="'current-' + (suburl == 'about')"><a href="/about">About</a></li>
        <li ng-class="'current-' + (suburl == 'blog')"><a  href="/blog/Fuzzy_Queries_5.5.14">Blog</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="resultObjects" class="container lower results">
  <div class="row">
    <span class="col-sm-offset-8 col-sm-4">
      <p>satisfied? <a style="line-height:28px;" href="#" class="button button-border-action button-pill">yes</a> <a style="line-height:28px;" href="#" class="button button-border-caution button-pill">no</a></p>
    </span>
  </div>
  <div class="row" ng-repeat="result in resultObjects">
    <span class="col-sm-10 col-sm-offset-1">
      <h4>{{ result.name }} <span style="background-color: {{ result.wampum_color; }}" class="score">{{ result.wampum_score | number:2 }}</span></h4>
      <p><u>About</u>: {{ result.description }}</p>
      <p>Mailing Address: {{ result.mailingaddress }} 
<!--       <button ng-click="freeShipping(result.name)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-envelope"></span> Free Shipping</button> -->
      </p>
      <p>Accepts: {{ result.tags }}</p>
      <p ng-click="clickEvent('ct_url', result.website)"><a href="{{ result.website }}" target="_blank">{{ result.website }}</a></p>
    </span>
  </div>
</div>

<div ng-show="noResults" class="container lower results">
    <span class="col-sm-12" style="text-align:center">
      <p>Sorry! We could not find any results for that. Your search has been noted to us, please check back again soon!</p>
    </span>
</div>

<div ng-show="motion" style="line-height: 22px;">
  <div class="container lower">
    <div id="about" class="col-sm-8 col-sm-offset-2">
      <h2>Wampum Is</h2>
      <p>A search engine for anyone looking to get rid of old clothes or household items. The search results are comprised of NGOs and socially conscious ventures that will put your old things to good use.</p>
      
      <h4 style="margin-top:25px;">Why Wampum?</h4>
      <p>All too often, it's easier to throw something in the trash than it is to think about how to get rid of it responsibly. Wampum uncovers a new home for an item in milliseconds by making it simple and easy to search for locations that will accept it.</p>

      <h4 style="margin-top:25px;">How does it work?</h4>
      <p>If you're interested in the gritty details, check out the evolution of our reccomendation engine by following the <a href="/blog/Anthropomorphism_4.3.14">blog</a> posts. Right now we use a combination of curation and machine learning techniques to find interesting results for our searches.</p>

      <h4 style="margin-top:25px;">How can I get involved?</h4>
      <p style="margin-bottom: 50px;">Please email rob@wampum.io, or leave a comment below. Thanks for checking us out!</p>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div disqus="disqus_thread"></div>
    </div>
  </div>
</div>
