<div class="jumbotron" style="background-color:#fff; padding-top:25px;">
  <div class="container">
    <div class="row" style="margin-bottom:30px; text-align:center;">
        <h1 style="cursor:pointer;">Wampum</h1>
    </div>

    <div class="row">
      <ul id="navigation" class="horizontal-list" style="text-align:center;">
        <li><a href="/">About</a></li>
        <li><a  href="https://medium.com/@wampum" target="_blank">Blog</a></li>
      </ul>
    </div>

    <p>Thanks for being a part of Wampum! You are now ready to receive shipping and postage for whatever item you choose.</p>

  </div>
</div>




