<superman>
  <div style="margin-top:50px;" class="row">
    <h3 style="text-align:center;">Questions</h3>

    <p><b>Do the clothes I send in need to be the same as the gift card brand?</b></p>
    <p>They can be, but they certainly don't have to! The gift card is meant to be a reward, so choose just choose your favorite brand from the list without worrying about what lines up.</p>

    <p><b>When do I actually recieve my gift cad?</b></p>

    <p><b>When do I have to send my clothes in by?</b></p>

    <p><b>How does Wampum choose a destination for my clothes?</b></p>
    <p>We think it is pretty cool to get as targeted a match for your item as possible. So for instance, if you are donating jeans, and there  is a location on our list that specailizes PURELY in accepting jeans, we'll suggest that location first over say, a donation center that accepts all types of clothing.</p>
    <p>Having said that, we also think that choice is a good concept, so you can click "shuffle" to mix up the suggested donation location for your item. If you are interested in the underlying concept behind our suggestion decisions please see: <a href="http://en.wikipedia.org/wiki/Tf%E2%80%93idf">tf-idf</a>.</p>

  </div>
</superman>