<superman>
  <div style="margin-top:50px;" class="row">

    <a href="/">Back Home</a>

    <p class="braveheart">Do the clothes I send in need to be the same as the gift card brand?</p>
    <p>Nope. Choose whichever brand floats your boats. We accept clothing of all types and varieties.</p>
    <img src="https://s3.amazonaws.com/wampumimages/walmartgiftcard.jpeg" height="100">

    <p class="braveheart">What information does Wampum collect and why?</p>
    <p>We collect your name and address so that we can send your box for the clothing shipment. We collect your email so that we can forward your gift card there.</p>

    <p class="braveheart">When do I actually recieve my gift cad?</p>
    <p>We'll send out your gift card as soon as we receive the shipment with your clothes.</p>

    <img src="https://s3.amazonaws.com/wampumimages/typestatue.jpg" height="150">    

    <p class="braveheart">How does Wampum choose a destination for my clothes?</p>
    <p>We think it is pretty cool to get as targeted a match for your item as possible. So for instance, if you are donating jeans, and there  is a location on our list that specailizes PURELY in accepting jeans, we'll send your item there over say, a donation center that accepts all types of clothing.  If you are interested in the underlying concept behind our suggestion decisions please see: <a href="http://en.wikipedia.org/wiki/Tf%E2%80%93idf">tf-idf</a>.</p>
    
    <p>If you are able to send in multiple clothes in your box(and we hope you do!) we will divide up your shipment and send each article of clothing to its best match.</p>

  </div>
</superman>