<superman>
  <div style="margin-top:50px;" class="row">
    <h3 style="text-align:center;">Questions</h3>

    <p><b>Do the clothes I send in need to be the same as the gift card brand?</b></p>
    <p>They can be, but they certainly don't have to! The gift card is meant to be a reward, so choose just choose your favorite brand from the list without worrying about what lines up.</p>

    <p><b>What information does Wampum collect and why?</b></p>
    <p>We collect your name and address so that we can put that information on the shipping label which we send to you. We collect your email so that we can email you your gift card.</p>

    <p><b>When do I actually recieve my gift cad?</b></p>
    <p>We'll send out your gift card as soon as we receive the shipment with your clothes.</p>

    <p><b>When do I have to send my clothes in by?</b></p>
    <p>You'll get your shipping label within 24 hours after submitting your order with Wampum. We set the expected shipping date on the label within 2 business days of when we send it to you, so try and get your package in the mail by then.</p>

    <p><b>How does Wampum choose a destination for my clothes?</b></p>
    <p>We think it is pretty cool to get as targeted a match for your item as possible. So for instance, if you are donating jeans, and there  is a location on our list that specailizes PURELY in accepting jeans, we'll suggest that location first over say, a donation center that accepts all types of clothing.</p>
    <p>Having said that, we also think that choice is a good concept, so you can click "shuffle" to mix up the suggested donation location for your item. If you are interested in the underlying concept behind our suggestion decisions please see: <a href="http://en.wikipedia.org/wiki/Tf%E2%80%93idf">tf-idf</a>.</p>

  </div>
</superman>