<superman>
  <div id="reviews" ng-show="initialform" style="margin-top:50px;" class="row">
    <h3>Reviews</h3>
    <blockquote cite="http://developer.mozilla.org">
      <p>"After ripping the cuffs of my khakis while commuting to work on my bike, I knew I could no longer wear them for work, but still didn't want to see the materials go to waste. By using Wampum, I was able to get a $10 gift card to J. Crew and some peace of mind knowing that the khakis could be restored by one of the vendors that Wampum sends their clothes to."</p>
      <p>- Jamie. Allston, MA.</p>
    </blockquote>
    <br>
    <blockquote cite="http://developer.mozilla.org">
      <p>"Upon moving from Manhattan to Brooklyn I realized I just had no reason to hold on to many of the paris of shoes I had accumulated over the years. After mailing in my shoes to Wampum, I was able to make use of my Target gift card pretty readily."</p>
      <p>- Allie Brooklyn, NY.</p>
      </blockquote>
  </div>
</superman>