<superman>
    <div style="text-align:center;">

      <p>Great! Now we just need some info so we can send you your gift card.</p>

      <label>
        Do you want a free shipping label for your {{ clothingtype }}?
        <input type="radio" ng-model="shippinglabel" value="yes"> yes
        <input type="radio" ng-model="shippinglabel" value="no"> no <br/>
      </label>

    </div>

      <!-- TODO set a max width for this whole form to tighten it up a bit -->
      <!-- then set a lower and upper border to demarcate -->
      <form  ng-show="shippinglabel == 'yes'" style="margin-left: auto; margin-right: auto; max-width:800px;"  role="form">

      <span>
        <div class="form-group col-xs-6 shippingformlowerfields">
          <label>Full Name</label>
          <input type="text" class="form-control" ng-model="full_name" placeholder="Last Name"/>
        </div>        
        <div class="form-group col-xs-6 shippingformlowerfields">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="email" placeholder="Email"> 
        </div>
      </span>

      <span>
        <div class="form-group col-xs-6 shippingformlowerfields">
          <label>Home Address</label>
          <input type="text" class="form-control" ng-model="address_line_1" placeholder="Street Address"/>
        </div>
        <div class="form-group col-xs-6 shippingformlowerfields">
          <label>Apt/Unit</label>
          <input type="text" class="form-control" ng-model="address_line_2" placeholder="Apt/Unit"/>
        </div>
      </span>

      <span>
        <div class="form-group col-xs-4 shippingformlowerfields">
          <label>City</label>
          <input type="text" class="form-control" ng-model="city" placeholder="City"/>
        </div> 
        <div class="form-group col-xs-4 shippingformlowerfields">
          <label>State</label>
          <statedropdown></statedropdown>
        </div>
        <div class="form-group col-xs-4 shippingformlowerfields">
          <label>Zip Code</label>
          <input type="text" class="form-control" ng-model="zip" placeholder="000000"/>
        </div> 
      </span> 
                 
<!--         <button ng-click="submitShippingInfo(clothingtypes, brands, address_line_1, address_line_2, city, state, zip, email)" class="btn btn-primary">Submit</button>
        <p style="color: red;">{{ error_message }}</p> -->
      </form>


       <form ng-show="shippinglabel == 'no'"  role="form">
        <input type="text" style="display:inline; width:150px;" class="form-control" placeholder="Email" ng-model="email"> 
        <button ng-click="submitShippingInfo(clothingtypes, brands, address_line_1, address_line_2, city, state, zip, email)" class="btn btn-primary">Submit</button>

      <p style="color: red;">{{ error_message }}</p>
      </form>


    <div ng-show="submitted">
      <p>Thanks for upcycling with Wampum! Your gift card is on its way. In the mean time please send your clothing to:</p>
      <br>
      <span style="text-align:center">
        <p>Wampum Inc.</p>
        <p>1308 Cambridge St.</p>
        <p>Cambridge, MA 02139</p>
      </span>
    </div>



</superman>