<superman>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div ng-hide="submitted">
        <p>Wampum's goal is to make it easy to get rid of your unwanted things. By accepting our prepaid postage, you're one step closer to breathing a second life into your old item.</p>
        <br>
        <div>
          <p style="text-align:center;" ng-repeat="addresspart in mailingaddress">{{ addresspart }}</p>
        </div>
        <br>

        <span style="text-align:center;">
          <form>
<!--             <label>Address line 1</label>
            <input type="text" class="form-control" ng-model="address_line_1"/>
            <label>Adress line 2</label>
            <input type="text" class="form-control" ng-model="address_line_2"/>
            <label>City</label>
            <input type="text" class="form-control" ng-model="city"/>
            <statedropdown></statedropdown>
            <label>Zip</label>
            <input type="text" class="form-control" ng-model="zip"/> -->
<!--             <label>Email</label> -->
            <input type="text" class="form-control" placeholder="claire@gmail.com" ng-model="email"/>
            <br>
            <button ng-click="submitShipping(locationid, item, email)" class="btn btn-success">Email the shipping label for my {{ item }}</button>
            <p style="color: red;">{{ error }}</p>
          </form>
        </span>
      </div>

      <div style="text-align:center" ng-show="submitted">
      <p><img src="https://s3.amazonaws.com/wampumimages/box.png" width="100px"></p>
      <p style="margin-top:25px;">Thanks for placing your order with Wampum! Your shipping label should be emailed to you shortly. Please email rob@wampum.io with any questions</p>
      </div>

    </div>
  </div>
  <div ng-show="location_details">
  </div>
</superman>



