<superman>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div>
        <form>
        <h3>Shipping your {{ item }}</h3>
        <label>To:</label>
        <p ng-repeat="addresspart in mailingaddress">{{ addresspart }}</p>
        <br>
        <h3>Your Address</h3>
        <p>... so we can mail you prepaid postage and a box</p>
        <label>Address line 1</label>
        <input type="text" class="form-control" ng-model="address_line_1"/>
        <label>Adress line 2</label>
        <input type="text" class="form-control" ng-model="address_line_2"/>
        <label>City</label>
        <input type="text" class="form-control" ng-model="city"/>
        <statedropdown></statedropdown>
        <label>Zip</label>
        <input type="text" class="form-control" ng-model="zip"/>
        <button ng-click="submitShipping(locationid, item_width, item_height, address_line_1, address_line_2, city, state, zip)" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div ng-show="submitted">
       <p>Thank you for placing your order with Wampum! Your shipping materials will arrive soon. Please email rob@wampum.io with any questions</p>
      </div>

    </div>
  </div>
  <div ng-show="location_details">
  </div>
</superman>



