<superman>
    <div style="text-align:center;" ng-show="secondform">

    <!-- all we need to move to the next tab is a location id -->

    <table class="table">
      <tr>
        <td>Suggested Donation Location: </td>
        <td><span id="upcyclelocation">{{ entry.name }}</span></td>
        <td><button ng-click="clothingSearch()" class="btn btn-info">Shuffle</button></td>
        <td><button class="btn btn-success">Next</button></td>
      </tr>
    </table>

<!--       <p>In exchange for your kindness, which email should we send your {{ brands }} gift card to?
      <input type="text" style="display:inline; width:150px;" class="form-control" ng-model="email"></p>  

      <label>
        Do you want a free shipping label for your {{ clothingtypes }}?
        <input type="radio" ng-model="shippinglabel" value="yes"> yes
        <input type="radio" ng-model="shippinglabel" value="no"> no <br/>
      </label>

      <form ng-show="shippinglabel == 'yes'" style="margin-top:40px;"  role="form">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="address_line_1" placeholder="adress line 1"/>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" ng-model="address_line_2" placeholder="adress line 2"/>
        </div>
        <div class="form-group col-xs-3">
          <input type="text" class="form-control" ng-model="city" placeholder="city"/>
        </div> 
        <div class="form-group col-xs-3">
          <statedropdown></statedropdown>
        </div>
        <div class="form-group col-xs-3">
          <input type="text" class="form-control" ng-model="zip" placeholder="zip"/>
        </div>                        
        <button ng-click="submitShippingInfo(clothingtypes, brands, address_line_1, address_line_2, city, state, zip, email)" class="btn btn-primary">Submit</button>
        <p style="color: red;">{{ error_message }}</p>
      </form>
    </div>

    <div ng-show="submitted">
      <p>Thanks for upcycling with Wampum! Your gift card is on its way. In the mean time please send your clothing to:</p>
      <br>
      <span style="text-align:center">
        <p>Wampum Inc.</p>
        <p>1308 Cambridge St.</p>
        <p>Cambridge, MA 02139</p>
      </span>
    </div> -->



</superman>